.annonce-container {
    position: relative;
    padding: 25px 0;
    
      padding-left: 20px;  /* Espace à gauche */
      padding-right: 20px; /* Espace à droite */
    }
  
  
  .red-text {
    color: deeppink;
  }
  .button *{
    width: 100px;
    padding: 14px 10px;
    font-size: 15px;
    cursor: pointer;
    display: block;  
    margin-left: auto;
    margin-right: 0;
}

  .filter-section {
    margin-bottom: 10px;
    display: flex;
    gap: 30px;
  }
  
  .filter-section input {
    width: 100px;
  }