/* Dashboard.css */

.form-container {
    max-width: 700px; /* Limite la largeur maximale du formulaire */
    width: 100%; /* Assure que le formulaire utilise toute la largeur disponible */
    background-color: rgba(168, 192, 192, 0.13); /* Couleur d'arrière-plan */
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(153, 222, 189, 0.1);
    padding: 20px 30px;
    color: rgb(228, 154, 96);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    margin-top: 20px; /* Ajoute un espacement pour ne pas toucher la barre de navigation */
  }
  
  /* Message d'erreur */
  .invalid-feedback {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: red;
  }
  
  /* Champs du formulaire */
  .form-control {
    min-height: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Bouton */
  .Button {
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    cursor: pointer;
    width: 90%;
    margin: 0 auto; /* Centre le bouton */

  }
  